.cart-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    color: rgb(14, 51, 82);
    font-size: 1.2rem;
    margin-top: 50px;
}
.cart {
    text-align: center;
    height: 100%;
    overflow-y: auto;
    width: 20% !important;
    min-width: 350px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(19, 19, 19);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 1px 0 black;
}
.item-inner {
    width: 100%;
}
.item-info{
    padding:0 5px 15px 5px;
    display: flex;
    justify-content: space-between;
}
.price{
    display: flex;
    justify-content: flex-end;
    color: brown;
    font-size: 1.2rem;
    font-weight: bold;
}
.selectq {
    border: 1px solid rgb(255, 0, 0);
}
.del{
    text-align: right;
    width: 100px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(61, 61, 61);
}

.total{
    margin: 10px;
    border-top: 1px gray solid;
    padding: 10px;
    width: 97%;
    font-weight: bold;
    font-size: 1.2rem;
}

.item-img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 3px;
}