<div class="main">
<mat-toolbar color="accent" style="justify-content: baseline;">
  <span>Super Store <img src="/assets/logo.png" style="height:64px"> </span>

  <span class="fill-space"></span>

  <span style="display: flex;">
    <mat-icon style="align-self: center;">person</mat-icon> Hello, {{username}}
  </span>
  <span *ngIf="username !== 'Guest'" style="margin-left: 10px">
    <button mat-raised-button color="primary" (click)="logOut()">Logout</button>
  </span>
</mat-toolbar>


<div class="router">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
</div>