<mat-toolbar class="d-flex row justify-content-between" class="justify-content-between">
    <mat-toolbar-row *ngIf="categorys !== 'No results'; else noresults" class="justify-content-between">
        <div>
            <button mat-raised-button color="primary" *ngFor="let category of categorys"
                (click)="changeCategory(category.id,category.catname)" class="ml-1">{{category.catname}}
            </button>

            <button mat-raised-button color="warn" class="ml-4" (click)="openModal()">Add product</button>
        </div>

        <mat-form-field style="margin-left: 100px">
            <input matInput [(ngModel)]="term" (input)="search()" placeholder="Search here..." style="font-size: 1rem;">
        </mat-form-field>

    </mat-toolbar-row>

</mat-toolbar>
<ng-template #noresults>
    <div class="category">
        No Categories
    </div>
</ng-template>








<mat-toolbar color="accent" style="opacity: .5;">{{txt}}</mat-toolbar>

<div *ngIf="showProds" class="prodShow">

    <div *ngFor="let product of products" class="card ml-3" >
        <img class="card-img-top" style="width: 100px" src="{{url + product.img}}" alt="{{product.prodname}}">
        <div class="card-body">
            <h5 class="card-title">{{product.prodname}}</h5>
            <p class="card-text">Price: {{product.price}} ₪</p>
        </div>
        <div>
            <button mat-raised-button color="accent" (click)="openModal(product); current = product.id">Modify</button>
        </div>
    </div>

</div>
