<div id="categorysSearch">
    <div id="categorys">
        <div *ngFor="let category of categorys" id="{{category.id}}"
            (click)="changeCategory(category.id,category.catname)" class="category">{{category.catname}}</div>
    </div>
    <!-- <form id="searchProduct" (submit)="search()"> -->
        <input type="search" name="search" id="search" [(ngModel)]="term" placeholder="search products">
        <button id="btnSearch" (click)="search()">S</button>
        <!-- <input type="submit" id="btnSearch" value="S"> -->
    <!-- </form> -->
</div>
<h3 id="messageHere">{{messageHere}}</h3>
<div *ngIf="categoryProducts" id="catpro">
    
    <div *ngFor="let product of products" class="product" (click)="popupProduct(product)">
        <img src="{{url}}/prodimages/{{product.img}}" alt="" class="productImg">
        <br>
        <div class="productPrice">{{product.price}} ₪</div>
        <div>{{product.prodname}}</div>
    </div>
</div>
<!-- popup  -->
<div *ngIf='ifPopup' id="backgroundPopup" (click)='closePopup($event)'>
    <div id="popup">
        <div class="deleteCross" (click)="closePopupCross()">X</div>
        <img src="{{url}}/prodimages/{{productPopup.img}}" alt="" class="prodimg">
        <div>
            <div>{{productPopup.prodname}}</div><br>
            <div class="prodPrice">{{productPopup.price}} ₪</div><br>
            <div id="addquantity">
                Quantity: &nbsp; <button class="plusminus" (click)="editQuant('-')">-</button>
                <div>{{quant}}</div><button class="plusminus" (click)="editQuant('+')">+</button>
            </div><br>
            <button (click)="addToCart(productPopup.prodid)">Add to cart</button>
        </div>
    </div>
</div>